
name: CI/CD MYFastAPI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          pytest --maxfail=1 --disable-warnings -q

  docker-deploy:
    runs-on: ubuntu-latest
    needs: build-test
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/my-fastapi:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/my-fastapi:latest

      - name: Save API URL as artifact
        run: |
          echo "Votre image est disponible sur Docker Hub : https://hub.docker.com/r/${{ secrets.DOCKER_USERNAME }}/my-fastapi" > api_url.txt

      - name: Upload API URL artifact
        uses: actions/upload-artifact@v3
        with:
                   name: api-url
